:root {
    --alt-white: #eeeeee;
    --alt-black: #0c0b0b;

    --dark-gray: #292f33;
    --light-gray: #66757f;

    --main-color: #21314b;
    --sec-color: #83ba48;

    --transition-quick: ease-out;
    --transition-gradual: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
