.not-hidden {
    overflow: auto;
}

.header {
    position: fixed;
    text-align: center;
    float: right;
    z-index: 10;
    overflow: hidden;
}

.header .menu-link {
    float: right;
}

.header .menu-link .menu-icon-square {
    float: top;
}

.header .menu-link .menu-icon-square .icon-line {
    float: top;
    display: block;
}