.not-hidden {
    overflow: auto;
}

.header {
    position: fixed;
    text-align: center;
    float: right;
    z-index: 10;
    overflow: hidden;
}

.header .menu-link {
    float: right;
    z-index: 15;
}

.header .menu-link .menu-icon-square {
    z-index: 11;
    overflow: hidden;
}

.header .menu-link .menu-icon-square .menu-icon {
    display: block;
    z-index: 12;
}

.header .menu-link .menu-icon-square .icon-line {
    float: left;
    display: block;
    z-index: 13;
}

.header .header-dragger {
    z-index: 11;
    display: block;
    float: right;
}