html, body {
    height: 100%;
    width: 100%;
}

.header {
    height: 4vw;
    width: 100%;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

.header .menu-link {
    margin: 0;
    padding: 0;
}

.header .menu-link .menu-icon-square {
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.header .menu-link .menu-icon-square .menu-icon {
    height: 2vw;
    width: 2vw;
}

.header .menu-link .menu-icon-square .icon-line {
    width: 0vw;
    height: 0.75vw;
    margin-left: 1vw;
}

.header .header-dragger {
    width: 2vw;
    height: 4vw;
}