:root {
    --alt-white: #eeeeee;
    --alt-black: #0c0b0b;

    --dark-gray: #292f33;
    --light-gray: #66757f;

    --main-color: #f44336;
    --sec-color: #ffc107;
}

html, body {
    font-family: 'Gill Sans', sans-serif
}

.header {
    background-color: transparent;
}

.header .menu-link {
    background-color: transparent;
}

.header .menu-link .menu-icon-square {
    background-color: var(--alt-black);
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header .menu-link .menu-icon-square .menu-icon {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.header .menu-link .menu-icon-square .icon-line {
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header .header-dragger {
    background-color: var(--alt-black);
}