:root {
    --alt-white: #eeeeee;
    --alt-black: #0c0b0b;

    --dark-gray: #292f33;
    --light-gray: #66757f;

    --main-color: #21314b;
    --sec-color: #83ba48;

    --main-trans-pattern: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

html, body {
    font-family: 'Gill Sans', sans-serif;
}

.header {
    background-color: transparent;
    transition: all .5s var(--main-trans-pattern);
    -webkit-transition: all .5s var(--main-trans-pattern);
    -moz-transition: all .5s var(--main-trans-pattern);
    -ms-transition: all .5s var(--main-trans-pattern);
    -o-transition: all .5s var(--main-trans-pattern);
}

.header .header-container .menu-link {
    background-color: transparent;
}

.header .header-container .menu-link .menu-icon-square {
    background-color: var(--alt-black);
    transition: all .5s var(--main-trans-pattern);
    -webkit-transition: all .5s var(--main-trans-pattern);
    -moz-transition: all .5s var(--main-trans-pattern);
    -ms-transition: all .5s var(--main-trans-pattern);
    -o-transition: all .5s var(--main-trans-pattern);
}

.header .header-container .menu-link .menu-icon-square .menu-icon {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.header .header-container .menu-link .menu-icon-square .icon-line {
    transition: all .5s var(--main-trans-pattern);
    -webkit-transition: all .5s var(--main-trans-pattern);
    -moz-transition: all .5s var(--main-trans-pattern);
    -ms-transition: all .5s var(--main-trans-pattern);
    -o-transition: all .5s var(--main-trans-pattern);
}

.header .header-dragger {
    background-color: var(--main-color);
}

#header-dragger-arrow {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    transition: transform .5s var(--main-trans-pattern);
    -webkit-transition: transform .5s var(--main-trans-pattern);
    -moz-transition: transform .5s var(--main-trans-pattern);
    -ms-transition: transform .5s var(--main-trans-pattern);
    -o-transition: transform .5s var(--main-trans-pattern);
}