#header {
    position: fixed;
    text-align: center;
    float: right;
    z-index: 10;
}

#header-container {
    z-index: 11;
    overflow: hidden;
    display: block;
    position: absolute;
}

#header-container .menu-link {
    float: right;
    z-index: 20;
}

#header-container .menu-link .menu-icon-square {
    z-index: 12;
    overflow: hidden;
}

#header-container .menu-link .menu-icon-square .menu-icon {
    display: block;
    z-index: 14;
}

#header-container .menu-link .menu-icon-square .icon-line {
    float: left;
    display: block;
    z-index: 15;
}

#header-container .menu-link .menu-icon-bg {
    z-index: 13;
    float: top;
}

#header-dragger {
    z-index: 10;
    float: right;
    position: relative;
}

#header-ender {
    z-index: 12;
    float: left;
    position: absolute;
}

.link-description {
    z-index: 10;
    float: bottom;
    position: absolute;
    display: block;
}