#header {
    background-color: transparent;
    transition: all .5s var(--transition-gradual);
    -webkit-transition: all .5s var(--transition-gradual);
    -moz-transition: all .5s var(--transition-gradual);
    -ms-transition: all .5s var(--transition-gradual);
    -o-transition: all .5s var(--transition-gradual);
}

#header-container .menu-link {
    background-color: transparent;
}

#header-container .menu-link .menu-icon-square {
    background-color: var(--dark-gray);
    transition: all .5s var(--transition-gradual);
    -webkit-transition: all .5s var(--transition-gradual);
    -moz-transition: all .5s var(--transition-gradual);
    -ms-transition: all .5s var(--transition-gradual);
    -o-transition: all .5s var(--transition-gradual);
}

#header-container .menu-link .menu-icon-square .menu-icon {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    background-color: transparent;
    transition: all .5s var(--transition-gradual);
    -webkit-transition: all .5s var(--transition-gradual);
    -moz-transition: all .5s var(--transition-gradual);
    -ms-transition: all .5s var(--transition-gradual);
    -o-transition: all .5s var(--transition-gradual);
}

#header-container .menu-link .menu-icon-square .icon-line {
    background-color: transparent;
    filter: invert(100%);
    --webkit-filter: invert(100%);
    transition: all .5s var(--transition-gradual);
    -webkit-transition: all .5s var(--transition-gradual);
    -moz-transition: all .5s var(--transition-gradual);
    -ms-transition: all .5s var(--transition-gradual);
    -o-transition: all .5s var(--transition-gradual);
}

#header-dragger {
    background-color: var(--sec-color);
}

#header-container .menu-link .menu-icon-bg {
    background-color: var(--sec-color);
    transition: all .5s var(--transition-quick);
    -webkit-transition: all .5s var(--transition-quick);
    -moz-transition: all .5s var(--transition-quick);
    -ms-transition: all .5s var(--transition-quick);
    -o-transition: all .5s var(--transition-quick);
}

#header-dragger-arrow {
    transition: transform .5s var(--transition-gradual);
    -webkit-transition: transform .5s var(--transition-gradual);
    -moz-transition: transform .5s var(--transition-gradual);
    -ms-transition: transform .5s var(--transition-gradual);
    -o-transition: transform .5s var(--transition-gradual);
}

#header-ender {
    background-color: var(--sec-color);
}

.link-description {
    background-color: var(--sec-color);
    color: var(--dark-gray);
    font-weight: 600;
    transition: top .5s var(--transition-gradual);
    -webkit-transition: top .5s var(--transition-gradual);
    -moz-transition: top .5s var(--transition-gradual);
    -ms-transition: top .5s var(--transition-gradual);
    -o-transition: top .5s var(--transition-gradual);
}